html,body,#__next {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Montserrat","Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.serif-stack {
  font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", serif !important;
}

.text-brand {
  color: #77B02A;
}

.btn {
  border-radius: 0 !important;
}

.btn-brand {
  color: #fff;
  background: #77B02A;
}

.btn-brand:hover,
.btn-brand:focus {
  background: #77B02A;
  color: #fff;
}

a {
  color: #77B02A;
}

.btn-dark {
  background: #42464B !important;
}

.form-control-line,
select.form-control-line {
  background: transparent;
  border: none;
  border-bottom: 1px solid #77B02A;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.form-control-line:focus,
select.form-control-line:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom-width: 3px;
}

.form-control {
  padding: 1.6rem .75rem;
  background: #e1e1e1;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus {
  box-shadow: none;
  border-color: #77B02A;
}

.player-wrapper {
  position: relative;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.styled-checkbox:hover + label:before {
  background: #77B02A;
}

.styled-checkbox:checked + label {
  color: #77B02A;
}
  
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background: #77B02A;
}
  
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 12px;
  background: white;
  width: 4px;
  height: 4px;
  box-shadow: 
    2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
  transform: rotate(45deg);
}