$brand-color: #77b02a;

.coursemap-title {
  color: #838383;
}

.card.coursemap-listing {
  position: relative;
  border-radius: 10px;
  padding: 4rem 0;
  border-color: $brand-color;
  background: #fafafa;
}

.card.coursemap-listing--active {
  background: $brand-color;

  .coursemap-listing__title {
    color: white;
  }

  .coursemap-listing__subtext {
    color: lighten($brand-color, 45%);
  }

  .coursemap-listing__number {
    border: 1px solid white;
    color: white;
  }

  .coursemap-listing__btn {
    border-color: darken($brand-color, 20%);
    background: darken($brand-color, 20%);
    padding: 0.5rem 2rem;
  }
}

.coursemap-listing__title,
.coursemap-listing__subtext {
  color: $brand-color;
}

.coursemap-listing__icon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.coursemap-listing__number {
  width: 50px;
  height: 50px;
  border: 1px solid $brand-color;
  color: $brand-color;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-bg {
  background: #30363c;
}
